<html data-ng-app="contact">
<head>
    <link rel="stylesheet" href="../../public/css/vandycreated.css" type = "text/css" />
</head>
<h2>Send e-mail to ryan@vandycraft.com</h2>


<body>
    <div data-ng-controller="ContactCtrl">
        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
        <form name="mail" novalidate role="form">
            <div class="form-group">
                <label>Name:</label><br>
                <input id="user_name" type="text" name="name" data-ng-model="name" class="form-control" required /><br>
            </div>
            <div class="form-group">
                <label>Email:</label><br>
                <input id="user_email"
                       type="email" name="email" data-ng-model="email" class="form-control" required /><br>
            </div>
            <div class="form-group">
                <label>Message:</label><br>
                <textarea id="user_message" name="message" data-ng-model="message" class="form-control" required></textarea>
            </div>
            <br><br>

            <button data-ng-click="submit(mail)" class="btn btn-default">Submit</button>
            <input type="reset" value="Reset">

        </form>
    </div>
</body>

</html>
